* {
	line-height: 1.5em;
	font-family: helvetica, sans-serif;
}

body {
	padding: 3px 21px;
}

nav li {
	display: inline;
	background-color: #0079c1;
	background-color: rgba(0,121,193,1);
	color: #fefefa;
	color: rgba(254,254,250,1);
	border-radius: 1px;
	-ms-border-radius: 1px;
	-webkit-border-radius: 1px;
	
	/* Prevent border bleed out in corners */
	-webkit-background-clip: padding-box; 
	-moz-background-clip: padding-box; 
	background-clip: padding-box;
}

nav li:hover {
	background-color: #ccc;
	background-color: rgba(0,121,193,0.8);
	color: #2c2c2c;
	color: rgba(254,254,250,1);
}

nav li:active {
	background-color: #2c2c2c;
	background-color: rgba(44,44,44,1);
}

h1 {
	font-size: 1.3em;
	font-weight: 300;
	color: #0079c1;
}

.alert {
	font-weight: 900;
}

.super-alert {
	color: #cc0000;
	font-weight: 900;
}

.patient {
	margin: 11px 0;
}

.sorted {
	border-top: solid 2px #2c2c2c;
	background-color: #ccc;
	background-color: rgba(0,121,193,0.8);
	color: #2c2c2c;
	color: rgba(254,254,250,1);
}


/* GRID */

.grid {
	width: auto;
	padding: 0 0 21px 0;
}

[class*='col-'] {
	float: left;
	margin-right: 11px;
	padding: 3px 7px;
}

.col-space {
	width: 10%;
}

.col-double-space {
	width: 20%;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}